@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

body {
  font-family: 'Anonymous Pro', monospace;
  background-color:ghostwhite;
  color: sienna;
}

a {
  text-decoration: none;
}